#clock {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: black; /* kolor czarny */
}

#plan-header {
  padding: 10px;
}






#plan {
  background: linear-gradient(to bottom, #3498db, #ffffff); /* Gradient pomiędzy niebieskim a białym */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Lekki cień */
}







body {
  /* Gradient wypełnienia tła */
  background: linear-gradient(to bottom, #2980b9, #6dd5fa); /* Gradient pomiędzy niebieskim a jasnoniebieskim */
}
















































.day:hover {
  background-color: #f2f2f2; /* Kolor podświetlenia po najechaniu myszką */
}


#plan {
  margin-top: 50px; /* Umieść plan lekcji poniżej zegara */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* cień */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Styl dla pierwszego wiersza (dni tygodnia) */
th {
  background-color: #3498db; /* niebieskie tło dla dni */
  color: white; /* białe litery */
}

/* Styl dla komórek z lekcjami */
.lesson {
  background-color: #f1f1f1; /* jasnoszare tło dla lekcji */
}










.frame {
  border: 2px solid black; /* Grubość i kolor obręczy */
  border-radius: 20px; /* Zaokrąglone łuki */
  padding: 1px; /* Wypełnienie ramki */
}



/* Dodaj podświetlenie dla każdego dnia po najechaniu myszką */
th:hover {
  background-color: #2980b9; /* Zmiana koloru tła po najechaniu myszką */
}

td:hover {
  background-color: #ecf0f1; /* Zmiana koloru tła po najechaniu myszką */
}






























/* Stylowanie dla licznika */
.counter {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #32CD32;
}













